*{
  margin: 0;
  padding: 0;
}

.body {
  color: white;
  background-color: #1E1B1B;
}

#teamName {
  font-size: 1.6rem;
}

nav {
  padding-top: 1rem;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.8rem;
}

ul li {
  padding-left: 1rem;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: #8BCC58;
  transition: 0.8s;
}

#registration {
  margin-top: 0.3rem;
  padding: 10px;
  background: #8BCC58;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

hr {
  width: 30%;
}

.findTheWay {
  display: flex;
  justify-content: space-between;
  width: 81rem;
  height: 440px;
  margin-top: 14rem;
  background-color: #8BCC58;
  padding-top: 4rem;
  border-radius: 80px;
}

.findTheWayContent {
  padding-left: 5rem;
}

#go {
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  margin-top: 4rem;
  width: 6rem;
}

#go:hover {
  width: 6rem;
  transition: 0.6s;
}

#pullupImage {
  margin-top: -160px;
  width: 30rem;
  height: 40rem;
  border-radius: 40px;
}

.educators {
  margin-top: 30rem;
  background-color: #8BCC58;
  height: 45rem;
  border-radius: 40px;
  padding-top: 2rem;
}

.educators h3 {
  text-align: center;
  padding-bottom: 5rem;
}

.dropdowntitle {
  text-align: center;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdownContent p:hover {
  text-decoration: underline;
}

.dropdownContent p::after {
  display: none;
}


.dropdown:hover .dropdownContent {
  display: block;
  cursor: pointer;
  background-color: #1E1B1B;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  width: 90%;
}

.contentInformation {
  padding-top: 5rem;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: center;
}

#informationHr {
  width: 80%;
  background-color: white;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

