.caloriaContainer {
    background-color: #8BCC58;
    width: 30%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: .5rem;
    border-radius: 2rem;
}

#foodSelector {
    border: none;
    width: 50%;
    text-align: center;
    border-radius: 2rem;
}

.foodInformations {
    margin-top: 2rem;
}

.foodInformations p {
    font-size: 1.1rem;
}

@media screen and (max-width: 760px) and (min-width: 300px ){
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 110%;
        margin-bottom: -5rem;
    }

}

@media screen and (max-width:820px ) and (min-width: 768px ) {
    .caloriaContainer {
        width: 80%;
    }
}

@media screen and (max-width:1020px ) and (min-width: 821px ) {
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }
  
}

@media screen and (max-width: 882px ) and (min-width: 776px) {
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }

}

@media screen and (max-width: 1000px ) and (min-width: 800px){
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }

}

@media screen and (max-width: 800px) and (min-width: 739px){
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }

}

@media screen and (max-width:820px ) and (min-width: 769px ){
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }

}

@media screen and (max-width:720px ) and (min-width: 540px ) {
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 80%;
    }
}

@media screen and (max-width: 359px ) and (min-width: 280px ){
    .caloriaContainer {
        width: 100%;
        position: relative;
        margin-top: 180%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 1000px){
    .caloriaContainer {
        width: 50%;
        position: relative;
        margin-top: 40%;
        padding-top: .5rem;
    }
}

@media screen and (min-width: 2000px) {
    .caloriaContainer {
        width: 50%;
        position: relative;
        margin-top: 30%;
        padding-top: .5rem;
    }
}